body {
   font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
   font-size: 1.1em;
   max-width: 945px;
   margin: 0 auto;
   padding: 15px;
}
h1 {
   background-color: aliceblue;
   padding: 20px;
}
.selector {
   color: green;
}
.property {
   color: red;
}
code {
   background-color: beige;
}
td {
   padding: 5px;
}